.about{
    height:100%;
    width:100%;
    background-color:$site-background;
    display:flex;
    padding-top:100px; 
}

.about .left{
    align-items:flex-start;
    justify-content:center;
    flex-direction:column;
    padding-left:200px;
}

.about .right{
    align-items:center;
    justify-content:center;
}

.text{
    color:white;
    font-family:$site-font;
    width:400px;
}

.aboutBtn{
    margin:0;
    margin-top:50px;
}

.about2{
    height:100%;
    width:100%;
    background-color:$site-secondary;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction:column;
    padding-left:80px;
    padding-top:100px;
}

textArea{
    height:300px;
    width:900px;
    border-style:none;
}

.about3{
    height:100%;
    width:100%;
    background-color:$site-background;
    padding-top:100px;
    display:flex;
}

.about3 .left{
    align-items:flex-start;
    justify-content:center;
    flex-direction:column;
    padding-left:80px;
}

.about3 .right{
    align-items:center;
    justify-content:space-around;
    flex-direction:column;
}

.resize{
    width:500px;
}

.jobBtn{
    height:150px;
    width:300px;
    border-radius:50px;
    background-color:$site-secondary;
    color:white;
    font-family:$site-font;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:35px;
}

.about4{
    height:100%;
    width:100%;
    background-color:$site-secondary;
    display:flex;
}

.about4 .left{
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.aboutLi li{
    font-size:20px;
    margin-left:100px;
}

.about4 .right{
    align-items:center;
    justify-content:center;
}