.home{
    height:100%;
    width:100%;
    background-image:
    linear-gradient(
        to bottom,
        rgba(0,0,0,.2),
        rgba(0,0,0,.6)
    ),
    url('../images/hero.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    justify-content:flex-end;
}

.callout{
    color:white;
    margin-right:150px;
    margin-top:450px;
    width:400px;
    font-family:$candy-font;
    font-size:40px;
    text-align:right;
}